Options -Indexes

<IfModule mod_authz_core.c>
  <FilesMatch "\.(php|php\d|phtml|phar|pl|py|jsp|asp|aspx|shtml|sh|cgi)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "\.(php|php\d|phtml|phar|pl|py|jsp|asp|aspx|shtml|sh|cgi)$">
    Order Deny,Allow
    Deny from all
  </FilesMatch>
</IfModule>
